.SubmitForm {
    border: 3px solid #75e7b2;
    width: 25%;
    height: 70px;
    margin: 5px auto;
    background-color: #f7f1f1;
}

.InputField1 {
    background-color: #c5ecfc;
    width: 75%;
    height: 30px;
    margin-top: 17px;
    margin-right: 5px;
    border-radius: 5px;
    outline: none;
    border-width: thin;
    padding-left: 6px;
}

.InputField1::placeholder {
    color: black;
    font-size: 0.9em;
    font-weight: 600;
}

.InputField2 {
    background-color: #c5ecfc;
    width: 15%;
    height: 33px;
    border-radius: 5px;
    outline: none;
    border-width: thin;
    font-weight: 600;
    font-size: 0.8em;
}